/************************************   reset.css  ***********************************/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/************************************   common  ***********************************/

body {
    background: #f7f4f2;
    font-family: "Microsoft YaHei", "微软雅黑", SimSun, "宋体";
    font-size: 14px;
}


/************************************   header  ***********************************/

.header {
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}


/************************************   content  ***********************************/

.content {
    width: 1120px;
    margin: 20px auto;
}

.city-content {
    width: 100%;
    padding: 20px 10px;
}

.city-content-wrap:after {
    content: '';
    clear: both;
}

.city-content-left {
    float: left;
    box-sizing: border-box;
    width: 700px;
    padding-right: 50px;
}

.city-content-right {
    float: left;
    width: 400px;
    height: 300px;
}

.city-name {
    font-size: 32px;
    font-weight: bold;
}

.city-intro p {
    margin-top: 10px;
    text-indent: 2em;
    font-size: 16px;
    line-height: 18px;
}

.city-map {
    width: 100%;
    height: 100%;
}

.city-map:hover img {
    box-shadow: 2px 2px 4px #a3a2a5;
}

.city-map img {
    width: 100%;
    height: 100%;
}


/************************************   footer  ***********************************/

.footer {
    width: 100%;
    background-color: #000;
}

.email {
    width: 1040px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}
.email p{
    text-align: center;
}
.bottom-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 1px;
    background-color: #b5b0b0;
}

.bottom-btn:hover {
    background-color: #848282;
}

.bottom-btn.home-btn {
    bottom: 80px;
    left: 100px;
}

.bottom-btn.next-btn {
    bottom: 80px;
    right: 100px;
}

.bottom-btn img {
    width: 30px;
    height: 30px;
    margin: 5px;
}


/************************************   轮播  ***********************************/

.city_pic-wrap {
    width: 100%;
    height: 560px;
    margin: 10px auto;
    overflow: hidden;
}

.city_pic {
    position: relative;
    top: 0;
    left: 0;
    width: 920px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.city_pic .city_pic-btn {
    z-index: 999;
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.city_pic .city_pic-btn:hover {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.city_pic .city_pic-btn .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 1;
}

.city_pic .city_pic-btn:hover .btn {
    width: 34px;
    height: 34px;
}

.btn.btn-pre {
    transform: rotate(-45deg);
}

.btn.btn-next {
    transform: rotate(135deg);
}

.city_pic .city_pic-pre {
    top: 0;
    left: -0;
}

.city_pic .city_pic-next {
    top: 0;
    right: 0;
}

.city_pic .city_pic-detaile {
    position: absolute;
    top: 0;
    left: 0;
    width: 920px;
    height: 100%;
    transition: all 0.8s ease;
}

.city_pic .city_pic-detaile[data-index="0"] {
    z-index: 111;
    left: -100%;
}

.city_pic .city_pic-detaile[data-index="1"] {
    z-index: 222;
    left: 0;
}

.city_pic .city_pic-detaile[data-index="2"] {
    z-index: 111;
    left: 100%;
}

.city_pic .city_pic-detaile img {
    width: 100%;
    height: 100%;
}

.city-content-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.city-content {
    position: absolute;
    top: 200px;
    visibility: hidden;
    opacity: 0;
}

.city-content[data-index="1"] {
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: all 1.5s ease;
    transition-delay: 0.5s;
}

.vintage {
    color: transparent;
    background-color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
    -webkit-background-clip: text;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
